<canvas id = "confetti" ></canvas>


<div class="main_body">
    <div class="content">
        <button id="button" class="button-53" role="button">Ordernummer</button>
        <h1>
            <%=
                receipts
            %>
        </h1>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>

<script src="/js/local_storage.js"></script>

